@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cairo:wght@300;400;600&family=Open+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "cairo", sans-serif;
}

body {
  box-sizing: border-box;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  color: black;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  background-color: white;
  margin: 0.5em;
}
.card:hover, .card:focus {
  transform: scale(1.05);
  transform-origin: bottom;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.05), 0 3 3px rgba(0, 0, 0, 0.01);
}
.card__image-container {
  height: 200px;
}
.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.card__content {
  padding: 1em;
  padding-bottom: 0.2em;
}
.card__purchase {
  text-align: center;
}
.card__purchase-button {
  padding: 0.2em 0.6em;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #50FF00;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid rgba(255, 255, 255, 0) 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.card__purchase-button:hover {
  border: solid #000000 1px;
  background: #32FF00;
  background-image: -o-linear-gradient(top, #32FF00, #026415);
  background-image: -webkit-gradient(to bottom, #32FF00, #026415);
  border-radius: 20px;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .card {
    min-width: 240px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 400px;
    max-width: 500px;
    height: 200px;
  }
  .card__article {
    display: flex;
  }
  .card__purchase {
    margin-top: 5em;
  }
  .card .card__image-container, .card .card__image-container {
    width: 50%;
  }
  .card:hover .card__image-container, .card:focus .card__image-container {
    width: 40%;
  }
}

/*******************************
            HEADER
*******************************/
.main-header {
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
  background-color: whitesmoke;
  border: gray solid 2px;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: whitesmoke;
}
#menu:checked ~ .search-bar .menu-toggle__label .menu-toggle__top-bread {
  transform: rotate(140deg);
  top: 25px;
}
#menu:checked ~ .search-bar .menu-toggle__label .menu-toggle__meat {
  opacity: 0;
}
#menu:checked ~ .search-bar .menu-toggle__label .menu-toggle__bottom-bread {
  transform: rotate(-140deg);
  top: 25px;
}

/*******************************
            NAV BAR
*******************************/
.nav-bar {
  background-color: white;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.nav-bar__nav-item {
  text-align: center;
}
.nav-bar__nav-link {
  display: block;
  color: black;
  font-weight: 600;
  padding: 1em 1.5em;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-bar__nav-link::after {
  content: "";
  background-color: black;
  width: 100%;
  display: block;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
}
.nav-bar__nav-link:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
  .nav-bar__nav-list {
    flex-direction: column;
  }
}

/*******************************
            SEARCH BAR
*******************************/
.search-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 3em;
  max-width: 80%;
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 0.5em;
}
.search-bar__logo-container {
  background-color: white;
  width: 10em;
  padding: 0;
}
.search-bar__logo-connecticus {
  width: 9.5em;
  position: absolute;
  top: -3em;
  left: -0.7em;
}
.search-bar__form-container {
  background-color: white;
  width: 25em;
  display: flex;
  justify-content: center;
}
.search-bar__form-search {
  background-color: white;
  justify-content: center;
  width: 100%;
  border: black solid 0.1em;
}
.search-bar__form-submit {
  border: black solid 0.1em;
  text-align: center;
  cursor: pointer;
}
.search-bar__carrito-container {
  margin-top: 0.7em;
}
.search-bar__logo-compra {
  width: 2.4em;
  height: 2em;
}
@media (max-width: 768px) {
  .search-bar {
    max-width: 40em;
  }
  .search-bar__logo-connecticus {
    width: 8em;
    margin-top: 0.5em;
  }
  .search-bar__form-container {
    justify-content: flex-start;
  }
  .search-bar__form-submit {
    width: 2em;
  }
  .search-bar__form-search {
    width: 80%;
  }
}
@media (max-width: 470px) {
  .search-bar__logo-container {
    display: none;
  }
}

/*******************************
            MAIN TOGGLE
*******************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}
.menu-toggle__label {
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: black;
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

.section-cards__header {
  width: 100%;
  padding-bottom: 14em;
  background-image: url(../img/flota-autos.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.section-cards__header-h1 {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Alfa Slab One";
  font-size: 1.5em;
  color: black;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (max-width: 425px) {
  .section-cards__header {
    display: none;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
@media (min-width: 1200px) {
  .cards-container {
    gap: 2em;
  }
}

.main-form {
  background-color: whitesmoke;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1.5em;
  text-align: center;
  border-radius: 25px;
  border: black solid 2px;
}
@media (max-width: 400px) {
  .main-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.main-form__header {
  text-shadow: 4px -1px 27px rgba(0, 0, 0, 0.6);
}

.form {
  color: black;
}
.form__fieldset {
  width: 100%;
  border-radius: 10px;
  border: solid wheat 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 550px) {
  .form__fieldset {
    display: block;
  }
}
@media (max-width: 425px) {
  .form__fieldset {
    border: none;
  }
}
.form__fieldset-legend {
  text-align: left;
  background-color: wheat;
  margin-left: 1em;
  border-radius: 5px;
  border: solid 2px black;
  padding: 0.5em;
  text-shadow: 4px -1px 27px rgba(0, 0, 0, 0.6);
}
.form__label {
  margin-bottom: 3em;
  width: auto;
}
.form__input {
  width: 50%;
  height: 3em;
  padding: 2px;
  margin-bottom: 5px;
  border: none;
  outline: 0;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
}
.form__input-image {
  cursor: pointer;
  margin-bottom: 5px;
}
.form__button {
  width: 6em;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 2em;
  cursor: pointer;
  border-radius: 5px;
  border: black solid 2px;
  background-color: wheat;
}
.form__button:hover {
  background-color: black;
  color: wheat;
  border: wheat 2px solid;
  text-shadow: -1px -5px 50px wheat;
  transition: 0.3s;
}

#block {
  grid-column: 1/3;
}

.main-form {
  background-color: whitesmoke;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1.5em;
  text-align: center;
  border-radius: 25px;
  border: black solid 2px;
}
@media (max-width: 400px) {
  .main-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.main-form__header {
  text-shadow: 4px -1px 27px rgba(0, 0, 0, 0.6);
}

.form {
  color: black;
}
.form__fieldset {
  width: 100%;
  border-radius: 10px;
  border: solid wheat 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 550px) {
  .form__fieldset {
    display: block;
  }
}
@media (max-width: 425px) {
  .form__fieldset {
    border: none;
  }
}
.form__fieldset-legend {
  text-align: left;
  background-color: wheat;
  margin-left: 1em;
  border-radius: 5px;
  border: solid 2px black;
  padding: 0.5em;
  text-shadow: 4px -1px 27px rgba(0, 0, 0, 0.6);
}
.form__label {
  margin-bottom: 3em;
  width: auto;
}
.form__input {
  width: 50%;
  height: 3em;
  padding: 2px;
  margin-bottom: 5px;
  border: none;
  outline: 0;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
}
.form__input-image {
  cursor: pointer;
  margin-bottom: 5px;
}
.form__button {
  width: 6em;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 2em;
  cursor: pointer;
  border-radius: 5px;
  border: black solid 2px;
  background-color: wheat;
}
.form__button:hover {
  background-color: black;
  color: wheat;
  border: wheat 2px solid;
  text-shadow: -1px -5px 50px wheat;
  transition: 0.3s;
}

#block {
  grid-column: 1/3;
}

.section-cards__nosotros {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}/*# sourceMappingURL=main.css.map */