.main-form{
    background-color: whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 1.5em;
    text-align: center;
    border-radius: 25px;
    border: black solid 2px;

    @media (max-width: 400px){
                
        &{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    
    &__header{
        text-shadow: 4px -1px 27px rgba(0,0,0,0.6);
    }
}

.form{
    color: black;

    &__fieldset{
        width: 100%;
        border-radius: 10px;
        border: solid wheat 5px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 550px) {
            &{
                display: block;
            }
        }

        @media (max-width: 425px){
                
            &{
                border: none;
            }
        }

        &-legend{
            text-align: left;
            background-color:wheat;
            margin-left: 1em;   
            border-radius: 5px;
            border: solid 2px black; 
            padding: .5em;
            text-shadow: 4px -1px 27px rgba(0,0,0,0.6);   
        }
    }

    &__label{
        margin-bottom: 3em;
        width: auto;
    }

    &__input{
        width: 50%;
        height: 3em;
        padding: 2px;
        margin-bottom: 5px;
        border: none;
        outline: 0;
        background-color: whitesmoke;
        border-bottom: 1px solid black;

        &-image{
            cursor: pointer;
            margin-bottom: 5px;
        }
    }

    &__button{
        width: 6em;
        padding: .5em;
        margin-top: 1em;
        margin-left: 2em;
        cursor: pointer;
        border-radius: 5px;
        border: black solid 2px;
        background-color: wheat;

        &:hover{
            background-color: black;
            color: wheat;
            border: wheat 2px solid;
            text-shadow: -1px -5px 50px rgba(245,222,179,1);
            transition: .3s;
        }
    }
}

#block{
    grid-column: 1 / 3;
}
